@import url(http://fonts.googleapis.com/css?family=Open+Sans:300,400,600);

html {
	margin-top: 37px;
}

/***********************
 * Top Bar
 **************************/
#aloha-not-loaded {
	height: 32px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 99999;
	background:#000 url(../Images/loadingbar.gif) center center no-repeat;
}
#aloha-top-bar {
	background: #FF8700;
	color: #fff;
	font: normal 12px/28px Arial,Helvetica,sans-serif;
	height: 37px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 10999;
}

#aloha-topbar-inner {
	padding:1px 10px 1px 0;
	height: 30px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	font-size:13px;
	background:url(../Images/bar-bg.png) repeat-x;
}

#aloha-topbar-inner .aloha-top-bar-left {
	display:inline;
}
#aloha-topbar-inner .aloha-top-bar-right {
	display:inline;
	float:right;
	padding-right: 110px;
	background:url(../Images/aloha_logo_small.png) no-repeat center right;
}

#aloha-topbar-inner .welcome {
	color:#000;
	margin-right:10px;
	display:inline;
}
#alohaeditor-icon {
	background: rgb(58,92,85); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(58,92,85,1) 0%, rgba(201,209,90,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(58,92,85,1)), color-stop(100%,rgba(201,209,90,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(58,92,85,1) 0%,rgba(201,209,90,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(58,92,85,1) 0%,rgba(201,209,90,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(58,92,85,1) 0%,rgba(201,209,90,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3a5c55', endColorstr='#c9d15a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(58,92,85,1) 0%,rgba(201,209,90,1) 100%); /* W3C */
	float:left;
	padding:8px 5px;
	cursor: pointer;
}
#alohaeditor-icon .user{
	display: block;
	float: left;
	padding-right:16px;
	background:url(../Images/arrow-down.png) no-repeat center right;
}

#aloha-topbar-inner .welcome .active {
	background-color:#666;
}
#aloha-topbar-inner .welcome .active .user {
	background-image:url(../Images/arrow-up.png);
}

#aloha-topbar-inner .count-holder {
	margin-left:20px;
}

#alohaeditor-info {
	position: absolute;
	box-shadow:3px 3px 10px 0px #ccc;
	top:37px;
	left:0;
	width:170px;
	background:#C9D15A;
}

#alohaeditor-info div {
	padding: 5px 10px 10px 10px;
}

#alohaeditor-info ul {
	padding:0;
	margin:0;
}

#alohaeditor-info li {
	list-style: none;
	padding:2px 0 2px 9px;
	margin:0;
	background:url(../Images/menu_line.png) no-repeat center bottom;
	line-height: 21px;
}

#alohaeditor-info li:last-child {
	background:none;
}

#alohaeditor-info li a {
	font-size:12px;
	color:#000;
}

#alohaeditor-info li a:hover {
	color:#000;
	font-weight:bold;
}

.aloha-warning {
	color:#d38200;
	color:#DC4C42;
	display: none;
}

.aloha-warning strong {
	color:#ff0000;
	display: none;
}

#aloha-topbar-inner a {
	color: #fff;
	text-decoration: none;
}

#aloha-topbar-inner a.btn {
	margin-left: 10px;
	padding: 2px 5px;
	font-family: 'Open Sans', sans-serif;
	font-weight: bold;
	font-size: 12px;
}

#aloha-topbar-inner a.btn-success {
	background: none;
	background: none;
	background-color: #FF8700;
}

#aloha-topbar-inner a:hover {
	color:#f2f2f2;
}

#aloha-topbar-inner .aloha-top-bar-right a {
	font-size: 11px;
}
#aloha-topbar-inner .aloha-top-bar-right .page-edit-buttons {
	padding-right:10px;
}

#aloha-topbar-inner .page-edit-header {
	font-weight:bold;
	font-size:12px;
}

#aloha-topbar-inner .aloha-top-bar-right .page-edit-buttons a {
	margin:0 2px;
}

#aloha-topbar-inner .aloha-top-bar-right .page-edit-buttons img {
	padding-top: 8px;
	vertical-align: top;
}

#aloha-topbar-inner .button-holder {
	margin-left: 10px;
}

#aloha-topbar-inner .aloha-button {
	background: rgb(123,123,123); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(123,123,123,1) 0%, rgba(123,123,123,1) 50%, rgba(105,106,106,1) 51%, rgba(105,106,106,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(123,123,123,1)), color-stop(50%,rgba(123,123,123,1)), color-stop(51%,rgba(105,106,106,1)), color-stop(100%,rgba(105,106,106,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(123,123,123,1) 0%,rgba(123,123,123,1) 50%,rgba(105,106,106,1) 51%,rgba(105,106,106,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(123,123,123,1) 0%,rgba(123,123,123,1) 50%,rgba(105,106,106,1) 51%,rgba(105,106,106,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(123,123,123,1) 0%,rgba(123,123,123,1) 50%,rgba(105,106,106,1) 51%,rgba(105,106,106,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b7b7b', endColorstr='#696a6a',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(123,123,123,1) 0%,rgba(123,123,123,1) 50%,rgba(105,106,106,1) 51%,rgba(105,106,106,1) 100%); /* W3C */
	padding:3px 8px;
	margin-right:7px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;
	color:#fff;
	border-radius: 4px;
	cursor: pointer;
	-webkit-transition: background .4s linear;
    -moz-transition: background .4s linear;
    -o-transition:  background .4s linear;
    -ms-transition:  background .4s linear;
    transition:  background .4s linear;
}

#aloha-topbar-inner .aloha-button:hover {
	background: rgb(105,106,106); /* Old browsers */
	background: -moz-linear-gradient(top, rgba(105,106,106,1) 0%, rgba(105,106,106,1) 50%, rgba(123,123,123,1) 51%, rgba(123,123,123,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(105,106,106,1)), color-stop(50%,rgba(105,106,106,1)), color-stop(51%,rgba(123,123,123,1)), color-stop(100%,rgba(123,123,123,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, rgba(105,106,106,1) 0%,rgba(105,106,106,1) 50%,rgba(123,123,123,1) 51%,rgba(123,123,123,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, rgba(105,106,106,1) 0%,rgba(105,106,106,1) 50%,rgba(123,123,123,1) 51%,rgba(123,123,123,1) 100%); /* Opera11.10+ */
	background: -ms-linear-gradient(top, rgba(105,106,106,1) 0%,rgba(105,106,106,1) 50%,rgba(123,123,123,1) 51%,rgba(123,123,123,1) 100%); /* IE10+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#696a6a', endColorstr='#7b7b7b',GradientType=0 ); /* IE6-9 */
	background: linear-gradient(top, rgba(105,106,106,1) 0%,rgba(105,106,106,1) 50%,rgba(123,123,123,1) 51%,rgba(123,123,123,1) 100%); /* W3C */
}

#aloha-topbar-inner .save {
}

#aloha-topbar-inner .tobesaved {
	font-weight:bold;
	padding:2px 4px;
	margin:0 1px;
	background:#c8d15b;
	color:#222727;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

.aloha-adminPanel .save {
	border:1px solid blue;
}

.aloha-adminPanel .saved {
	border:1px solid red;
	font-weight:bold;
}


/* hidden CE */
.action-unhide {
	/*	background:url(../Images/hidden-ce.png) no-repeat top right;*/
	-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=70)";
	filter: alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}

/* Try not to affect original style */
.alohaeditable {
	display: inline;
}

.alohaeditable.alohaeditable-block {
	display: block;
}

/* If editable element is inside <p> we use span */
span.aloha-editable {
	display: block;
}

.aloha-editable-highlight {
	outline: #FFE767 solid 5px !important;
}

.aloha-editable-active, .aloha-editable-active[contenteditable=true]:focus {
	outline: #B7D6FA solid 5px !important;
}

/* Needs higher z-index than toolbar */
#sb-container {
	z-index: 10110;
}

/*******************************
 * Notification bubble
 *************************************/
.el7r_notify {
	z-index:999;
}
#el7r_notify_top_right {
	position:fixed;
	z-index: 9000;
	right:10px;
}
#el7r_notify_top_left {
	position:fixed;
	z-index: 9000;
	left:10px;
	top:40px;
}
#el7r_notify_bottom_right {
	position:fixed;
	z-index: 9000;
	bottom:10px;
	right:10px;
}
#el7r_notify_bottom_left {
	position:fixed;
	z-index: 9000;
	bottom:10px;
	left:10px;
}
.el7r_notify.default {
	border:1px solid #68697B;
	background:#464646;
	color:#FFF;
	padding:10px;
	width:240px;
	border-radius:8px;
	-moz-border-radius:8px;
	box-shadow: 0 0 7px #333;
	-webkit-box-shadow: 0 0 7px #333;
	-moz-box-shadow: 0 0 7px #333;
	box-shadow: 0 0 7px #333;
	margin-bottom:10px;
	cursor:help;
	display:block;
}
.el7r_notify.default span.ex {
	float:right;
	background:#7D7D7D;
	text-align:center;
	font-family:Verdana;
	color:#ccc;
	font-size:11px;
	height:15px; width:15px;
	border:1px solid silver;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
}
.el7r_notify.default span.ex:hover {
	background-color:#962127;
	color:white;
	border-color:red;
}

.el7r_notify.silver {
	border:1px solid silver;
	background:#FFF;
	color:#000;
	padding:10px;
	width:240px;
	-moz-border-radius:8px;
	border-radius:8px;
	box-shadow: 0 0 7px #CCC;
	-webkit-box-shadow: 0 0 7px #CCC;
	-moz-box-shadow: 0 0 7px #CCC;
	margin-bottom:10px;
	cursor:help;
}

.el7r_notify.silver span.ex {
	float:right;
	background:#7D7D7D;
	text-align:center;
	font-family:Verdana;
	color:#ccc;
	font-size:11px;
	height:15px; width:15px;
	border:1px solid silver;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
}
.el7r_notify.silver span.ex:hover {
	background-color:#962127;
	color:white;
	border-color:red;
}

.el7r_notify.darkblue {
	border:1px solid #68697B;
	background:#FFF url(../Contrib/notify/icons/darkblue_bg.jpg) bottom repeat-x;
	color:#FFF;
	padding:10px;
	width:240px;
	-moz-border-radius:8px;
	border-radius:8px;
	box-shadow: 0 0 7px #CCC;
	-moz-box-shadow: 0 0 7px #CCC;
	-webkit-box-shadow: 0 0 7px #CCC;
	margin-bottom:10px;
	cursor:help;
}
.el7r_notify.darkblue span.ex {
	float:right;
	background:#898AA6;
	text-align:center;
	font-family:Verdana;
	color:#FFF;
	font-size:11px;
	height:15px; width:15px;
	border:1px solid darkblue;
	cursor:pointer;
	border-radius:5px;
	-moz-border-radius:5px;
}
.el7r_notify.darkblue span.ex:hover {
	background-color:#962127;
	color:white;
	border-color:red;
}

.el7r_notify .icon {
	float:left;
	margin-right:10px;
}

.aloha-sidebar-handle {
	display:none;
}

ul.aloha-multisplit button.h3-fo {
	background-image:url(../Images/h3-a.png) !important;
	background-position: center center !important;
}
ul.aloha-multisplit button.h3-bar {
	background-image:url(../Images/h3-b.png) !important;
	background-position: center center !important;
}